<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brentondurkee.ccm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.brentondurkee.ccm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow">
        <receiver
            android:name=".provider.gcm.Receiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.brentondurkee.ccm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".provider.gcm.ListenService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".provider.gcm.InstanceIDListenService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".provider.gcm.RegIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".events.Events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brentondurkee.ccm.Main" />

        </activity>
        <activity
            android:name=".Pager"
            android:label="Pager"
            android:parentActivityName=".Main"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brentondurkee.ccm.Main" />
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".events.EventDetail"
            android:label="@string/title_activity_event_detail"
            android:parentActivityName=".events.Events" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".events.Events" />
        </activity>
        <activity
            android:name=".inbox.Msgs"
            android:label="@string/title_activity_msgs"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brentondurkee.ccm.Main" />
        </activity>
        <activity
            android:name=".inbox.MsgDetail"
            android:label="@string/title_activity_msg_detail"
            android:parentActivityName=".inbox.Msgs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inbox.Msgs" />
        </activity>
        <activity
            android:name=".talks.TalkDetail"
            android:label="@string/title_activity_talk_detail"
            android:parentActivityName=".talks.Talks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".talks.Talks" />
            >
        </activity>
        <activity
            android:name=".talks.Talks"
            android:label="@string/title_activity_talks"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brentondurkee.ccm.Main" />
            >
        </activity>

        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.brentondurkee.ccm"
            android:exported="false" />

        <service
            android:name=".provider.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!--<service android:name=".common.accounts.GenericAccountService" >-->

            <!--&lt;!&ndash; Required filter used by the system to launch our account service. &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.accounts.AccountAuthenticator" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; This points to an XMLf ile which describes our account service. &ndash;&gt;-->
            <!--<meta-data-->
                <!--android:name="android.accounts.AccountAuthenticator"-->
                <!--android:resource="@xml/authenticator" />-->
        <!--</service>-->

        <service android:name="com.brentondurkee.ccm.auth.AuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".auth.AuthActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:name=".auth.SignUpActivity"
            android:label="SignUp"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
